.chaCuaFeedBack {
  //   position: relative;
  .feedBack {
    position: absolute;
    right: 15%;
    bottom: 40%;
    // position: fixed;
    // z-index: 0; //??
    .nutFeedback {
      i {
        font-size: 35px;
      }

      width: 80px;
      height: 80px;
      border-radius: 50%;

      box-shadow: 0 5px 15px -5px #00000070;
    }

    .nutFeedback i {
      transition: 0.2s linear;
    }
    .nutFeedback:hover i {
      transform: scale(1.2);
    }
    .nutFeedback .fb {
      transition: 0.2s linear;
    }
    .nutFeedback:hover .fb {
      transform: scale(1.2);
    }
  }
}

@include responsive("extra-large") {
  .chaCuaFeedBack {
    //   position: relative;
    .feedBack {
      position: absolute;
      right: 10%;
      .nutFeedback {
        width: 70px;
        height: 70px;
        .chuFeedback {
          font-size: 32px;
        }
        .fb {
          font-size: 10px;
        }
      }
    }
  }
}

@include responsive("large") {
  .chaCuaFeedBack {
    //   position: relative;
    .feedBack {
      position: absolute;
      top: 10%;
      .nutFeedback {
        width: 70px;
        height: 70px;
        .chuFeedback {
          font-size: 22px;
        }
        .fb {
          font-size: 11px;
        }
      }
    }
  }
}

@include responsive("medium") {
  .chaCuaFeedBack {
    //   position: relative;

    .feedBack {
      position: absolute;
      top: 8%;
      .nutFeedback {
        width: 65px;
        height: 65px;
        .chuFeedback {
          font-size: 17px;
        }
        .fb {
          font-size: 11px;
        }
      }
    }
  }
}

@include responsive("small") {
  .chaCuaFeedBack {
    //   position: relative;

    .feedBack {
      .nutFeedback {
        width: 65px;
        height: 65px;
        .chuFeedback {
          font-size: 19px;
        }
        .fb {
          font-size: 8px;
        }
      }
    }
  }
}
